body {
  font-size: 16px;
  color: #2b283a;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Typography */
h1,
h3 {
  margin: 0;
}

h1 {
  color: whitesmoke;
  font-size: 36px;
}

h2 {
  margin-top: 0;
}

h3 {
  color: #d0aaff;
  font-size: 20px;
}

p {
  line-height: 23px;
}

/* Links */
a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover,
a:active {
  color: #d4b44c;
}

.btn {
  padding: 10px 19px;
  border-radius: 4.6px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.btn-dark {
  background: #5f29a3;
  color: whitesmoke;
}

.btn-mid {
  background: #f0e0ff;
  color: #5f29a3;
}

.btn-light {
  background: whitesmoke;
  color: #5f29a3;
}

.btn:hover,
.btn:active {
  background-color: #f3e885;
  color: #2b238a;
}

/* Layout */
header,
section,
footer {
  padding: 45px 0;
}

header,
.section-two {
  background-color: #5f29a3;
}

.section-two {
  color: whitesmoke;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.main-image {
  width: 100%;
}

.section-two-image-container {
  display: flex;
  justify-content: space-between;
}

.feature-image {
  width: 300px;
  border-radius: 4.6px;
}

footer {
  text-align: center;
  color: #5f29a3;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 18px;
  }

  .container {
    width: 500px;
  }

  .feature-image {
    width: 245px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 16px;
  }

  .container {
    width: 350px;
  }

  .feature-image {
    width: 170px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 26px;
  }

  h3 {
    font-size: 15px;
  }

  .container {
    width: 290px;
  }

  .feature-image {
    width: 140px;
  }
}
