.main {
  margin-top: 100px;
}

.logo-img {
  display: block;
  width: 70%;
  max-width: 375px;
  margin: auto;
  margin-bottom: 20px;
}

.search-input {
  display: block;
  width: 80%;
  max-width: 600px;
  margin: auto;
  line-height: 24px;
  padding: 10px 30px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 4px;
  margin-top: 30px;
  background: #dfe1e5;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
}

@media screen and (max-width: 400px) {
  .btn {
    font-size: 13px;
    padding: 6px 12px;
    margin-top: 20px;
  }
  .search-input {
    line-height: 16px;
    padding: 5px 15px;
  }
}
